@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1c27;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}
